* {
  margin: 0;
    padding: 0;
    box-sizing: border-box;

  font-family: 'Lato', sans-serif;

  user-select: none;
  list-style: none;
}
body{
  background-color: lightgrey;
}
.container {

  width: 80%;
  margin: 0 auto;

  padding: 50px 25px;

  background-color: lightslategray;
}

.container h1{
  text-align: center;
  font-size: 2em;
}

.myCanvas{
  margin: 100px auto;

  width: 80%;
  height: auto;

  background-color: lightgrey;
}

canvas{
  padding: 25px 50px;
}